{% extends 'ledger/base_ledger.html' %}

{% block content%}
    {% load static %}
        <html>
        <head>
            <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
            <h2> 
            Recipe Detail
            </h2>
        </head>
        
    <body>
        <h3>{{recipe.name}} made by: {{recipe.author.user.username}}
        </h3>
        {% if object.recipe_image %}
            {% for img in recipe.recipe_image.all %}
            <img src="{{ img.image.url }}" alt="{{ img.description }}">
            {% endfor %}
        {% endif %}
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>

        <h3>Created on: {{recipe.created_on}}</h3>
        <h3>Updated on: {{recipe.updated_on}}</h3>
    </body>

    <a href= "{% url 'ledger:recipe_add_image' recipe.id %}">Add image for {{recipe.name}}</a>
    
    <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
        </html>
{% endblock %}