{% extends 'ledger/base_ledger.html' %}

{% block content%}
    <head>
        <h2> 
        Recipe Detail
        </h2>
    </head>
    <body>
        <h3>{{recipe.name}} made by: {{recipe.author.user.username}}
        </h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
    </body>
    
    <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
{% endblock %}