{% extends 'ledger/base_ledger.html' %}

{% block content%}
    <body>
        <h3> {{recipe.name}}:</h3>
        <h2>Made by: {{recipe.author.user.username}}</h2>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
    </body>
    
    <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
{% endblock %}